doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(href='css/place.css', rel='stylesheet', type='text/css')
    body
        h1 A.R. Valentien at The Lodge at Torrey Pines
        p 11480 N Torrey Pines Rd, La Jolla, San Diego
        img.im(src='images/place/food1.jpg', width='200', height='140')
        img.im(src='images/place/food2.jpg', width='200', height='140')
        h3 Menu
        p Fresh seafood
        h3 Description
        p
            | The Lodge’s signature restaurant, A.R. Valentien, highlights regional San Diego cuisine served in an elegant, timbered indoor-outdoor dining room overlooking the 18th hole of Torrey Pines Golf Course. Executive Chef Jeff Jackson sources only the best local provisions, and the menu changes frequently based on seasonal fare available. The restaurant takes its name from a talented early 20th-century California artist whose works are exhibited throughout the restaurant.
