doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Coffee Shop

        // Custom Fonts
        script(src='https://use.fontawesome.com/f9b22d3044.js')
        // Bootstrap core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        // jQuery ui CSS
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')

        // Custom CSS
        link(href='stylesheets/cities_test.css', rel='stylesheet')
        // Autocomplete funciton
        script.
            $( function() {
                var availableTags = [
                    "Latte"
                ];
                $( "#tags" ).autocomplete({
                    source: availableTags
                });
            } );
            $( function() {
                $( "#datepicker" ).datepicker({
                    minDate : 0
                });
            } );
    body
        nav.navbar.navbar-toggleable-md.navbar-light.fixed-top.bg-faded
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='/')
                img.img-fluid(src='images/qIXtA.png', height='30px', width='30px')
            #navbarCollapse.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='about') About
                    li.nav-item
                        a.nav-link(href='contact') Contact



        header.masthead.d-flex
            .container.text-center.my-auto
                h1.mb-1 Old Drivers
                h3.mb-5
                    em Drivers
                    p Yilun
                    p Yiming
                    p Yue
                    p Han
            .overlay

