doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Coffee Shop

        // Custom Fonts
        script(src='https://use.fontawesome.com/f9b22d3044.js')
        // Bootstrap core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        // jQuery ui CSS
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        // Custom CSS
        link(href='stylesheets/homepage.css', rel='stylesheet')

        // Autocomplete funciton
        script.
            $( function() {
                var availableTags = [
                    "Americano",
                    "Cappuccino",
                    "Mocha",
                    "Latte"
                ];
                $( "#tags" ).autocomplete({
                    source: availableTags
                });
            } );


    body
        nav.navbar.navbar-toggleable-md.navbar-light.fixed-top.bg-faded
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='/')
                img.img-fluid(src='images/qIXtA.png', height='30px', width='30px')
            #navbarCollapse.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/product') Product
                    li.nav-item
                        a.nav-link(href='/about') About
                    li.nav-item
                        a.nav-link(href='/contact') Contact
                    li.nav-item
                        if user
                            a.nav-link(href='/order') Order
                        else
                            a.nav-link(href='/') 


                form.form-inline.mt-2.mt-md-0(action='/search', method='post')

                    .ui-widget
                        input#tags.form-control.mr-sm-2(type='text',name='key' ,placeholder='Search')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

                ul.navbar-nav.justify-content-end
                    li.nav-item
                    if user
                        a.nav-link(href='/home') Hello, #{user.firstName}!
                    else
                        a.nav-link(href='/login') Join Us

        #myCarousel.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
            .carousel-inner(role='listbox')
                .carousel-item.active
                    img.first-slide(src='images/homeslide1.jpg', alt='First slide')
                    .container
                        .carousel-caption.d-none.d-md-block.text-left
                            h1 All about coffee
                            p
                                | go ahead and grab that cup of joe, or two, or more. 
                                | Doing so may improve your health and help you live longer.
                            p
                                a.btn.btn-lg.btn-primary(href='/', role='button') Details
                .carousel-item
                    img.second-slide(src='images/homeslide2.jpg', alt='Second slide')
                    .container
                        .carousel-caption.d-none.d-md-block
                            h1 Facts
                            p
                                | 7 Facts About Coffee You Probably Didn’t Know
                            p
                                a.btn.btn-lg.btn-primary(href='/', role='button') Explore Seattle
                .carousel-item
                    img.third-slide(src='images/homeslide4.jpg', alt='Third slide')
                    .container
                        .carousel-caption.d-none.d-md-block.text-right
                            h1 Join The Group
                            p
                                i Coffee is a diuretic
                            p
                                i by No one
                            p
                                a.btn.btn-lg.btn-primary(href='/san-diego', role='button') Plan your tour
            a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next

        // Card component
        //.row.align-self-center.justify-content-center
            .col-sm-3
                .card
                    img.card-img-top(src='images/disney-logo.jpg', alt='Card image cap', width='100%', height='200')
                    .card-block
                        h4.card-title Disneyland
                        p.card-text
                            | To all who come to this happy place: Welcome. Disneyland is your land. Here age relives fond memories
                            | of the past, and here youth may savor the challenge and promise of the future. Disneyland is dedicated
                            | to the ideals, the dreams, and the hard facts that have created America, with the hope that it will be
                            | a source of joy and inspiration to all the world.
                        p.card-text — Walter E. Disney, July 17, 1955
                        a.btn.btn-primary(href='/disneyland-park') Details
            .col-sm-3
                .card
                    img.card-img-top(src='images/griffith-logo.jpg', alt='Card image cap', width='100%', height='200')
                    .card-block
                        h4.card-title Griffith Observatory
                        p.card-text
                            | The observatory is a popular tourist attraction with an excellent view of the Hollywood Sign and
                            | an extensive array of space and science-related displays. Admission has been free since the
                            | observatory's opening in 1935, in accordance with the will of Griffith J. Griffith, the benefactor
                            | after whom the observatory is named.
                        a.btn.btn-primary(href='/griffith-observatory') Details
            .col-sm-3
                .card
                    img.card-img-top(src='images/alcatraz-logo.jpg', alt='Card image cap', width='100%', height='200')
                    .card-block
                        h4.card-title Alcatraz
                        p.card-text
                            | Today, the island's facilities are managed by the National Park Service as part of the Golden Gate
                            | National Recreation Area; it is open to tours. Visitors can reach the island by ferry ride from Pier 33,
                            | near Fisherman's Wharf, San Francisco. Hornblower Cruises and Events, operating under the
                            | name Alcatraz Cruises, is the official ferry provider to and from the island.
                        a.btn.btn-primary(href='/alcatraz') Details

        hr.featurette-divider

        .row.featurette
            .col-md-1
            .col-md-7
                h2.featurette-heading Share your Experiences
                p
                    | Have you visited a place, if yes then share your reviews about the places you visited. Help your fellow spartans!! Let them know how to plan the trip? What are the famous spots to visit? Where to eat? How to reach there?
            .col-md-3
                img.featurette-image.img-fluid.mx-auto(src='images/features1.jpg', alt='placeholder image')
            .col-md-1

        hr.featurette-divider

        .row.featurette
            .col-md-1
            .col-md-7.push-md-3
                h2.featurette-heading
                    | Share your memories
                p.lead Can't describe the beauty in words! But want to share your experience? No worries, we have got it covered for you. Share the pcitures of places you want to visit. Let others know about the beauty they are yet to explore!
            .col-md-3.pull-md-7
                img.featurette-image.img-fluid.mx-auto(src='images/features2.png', alt='placeholder image')
            .col-md-1

        hr.featurette-divider

        .row.featurette
            .col-md-1
            .col-md-7
                h2.featurette-heading
                    | Gather Information
                p.lead Planning to visit a new place, but so much information on the Internet confuses you. Take help of your fellow spartans. They have shared their experiences and reviews which will help you plan your next trip.
            .col-md-3
                img.featurette-image.img-fluid.mx-auto(src='images/features3.jpg', alt='placeholder image')
            .col-md-1

        hr.featurette-divider

        // Footer
        footer.footer.text-center
            .container
                ul.list-inline.mb-5
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='https://www.facebook.com')
                            i.fa.fa-facebook(aria-hidden='true')
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='https://twitter.com')
                            i.fa.fa-twitter(aria-hidden='true')
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white(href='https://www.github.com')
                            i.fa.fa-github(aria-hidden='true')
                p.text-muted.small.mb-0 Copyright © Old Drivers

        // Bootstrap JavaScript
        script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
