doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title Coffee Shop
        // Bootstrap core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        // jQuery ui CSS
        link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

        script(src='https://code.jquery.com/jquery-1.12.4.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script(src='https://use.fontawesome.com/f9b22d3044.js')

        // Custom CSS
        link(href='stylesheets/places_test.css', rel='stylesheet')

        script(type='text/javascript').
            $(document).ready(function () {
                $('#media').carousel({
                    pause: true,
                    interval: false,
                });
            });
        // Autocomplete funciton

    body
        nav.navbar.navbar-toggleable-md.navbar-light.fixed-top.bg-faded
            button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            a.navbar-brand(href='#')
                img.img-fluid(src='images/qIXtA.png', height='30px', width='30px')
            #navbarCollapse.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/product') Product
                    li.nav-item
                        a.nav-link(href='/about') About
                    li.nav-item
                        a.nav-link(href='/contact') Contact
                    li.nav-item
                        a.nav-link(href='/order') Order
                        

                form.form-inline.mt-2.mt-md-0
                    .ui-widget
                        input#tags.form-control.mr-sm-2(type='text', placeholder='Search')
                        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
                ul.navbar-nav.justify-content-end
                    li.nav-item
                        if user
                            a.nav-link(href='/home') Hello, #{user.firstName}!
                        else
                            a.nav-link(href='/login') Join Us


        hr

        .row.justify-content-center
            .col-md-8.comments
                .float-right

                //for review in items.reviews
                .comment-wrap
                    //.photo
                        img.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')")
                    .comment-block Order detail
                        p.comment-text 
                        p.comment-text Americano 
                        p $ 20
                        .bottom-comment
                            .comment-date #{time}


                .comment-wrap
                    //.photo
                        img.avatar(style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')")
                    .comment-block Order detail
                        p.comment-text 
                        p.comment-text Cappuccino 
                        p $ 18
                        .bottom-comment
                            .comment-date #{time}

        hr

        // Footer
        footer.footer.text-center
            .container
                ul.list-inline.mb-5
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='https://www.facebook.com/TourGuide-132179940786791/')
                            i.fa.fa-facebook(aria-hidden='true')
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white.mr-3(href='https://twitter.com/TourGuide_280')
                            i.fa.fa-twitter(aria-hidden='true')
                    li.list-inline-item
                        a.social-link.rounded-circle.text-white(href='https://www.github.com')
                            i.fa.fa-github(aria-hidden='true')
                p.text-muted.small.mb-0 Copyright © Old Drivers



        // Bootstrap JavaScript
        script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
